<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffbot">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  
  <xacro:include filename="$(find diffbot_description)/robots/diffbot_description.urdf.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find diffbot_description)/ros2_control/diffbot.ros2_control.xacro" />

  <!-- Import diffbot isaac description -->
  <xacro:include filename="$(find diffbot_description)/isaac/diffbot.isaac.xacro" />

  <xacro:diffbot prefix="$(arg prefix)" use_sim="$(arg use_sim)"/>

  <xacro:diffbot_ros2_control
    name="diffbot" prefix="$(arg prefix)" use_sim="$(arg use_sim)" />

  <xacro:diffbot_isaac prefix="$(arg prefix)"/>
    
</robot>
